# What is the difference between =(equal to) and ==(real equal to) ?

### equal to : The “=” is an assignment operator used to assign the value on the right to the variable on the left.

In [3]:
#For Example
A = 10; 
B = 20; 
C = 30;

print(A)
print(B)
print(C)

10
20
30

### Real equal to : The ‘==’ operator checks whether the two given operands are equal or not. If so, it returns true. Otherwise it returns false.

In [4]:
#For Example
a = 10;
b = 20;

print(a == b)

False

# Apply comparison operators

In [5]:
A1 = -91;
B1 = 32;

#equal to(==)
print(A1 == B1)

#not equal(!=)
print(A1 != B1)

#less than(<)
print(A1 < B1)

#greater than(>)
print(A1 > B1)

#less than or equal to(<=)
print(A1 <= B1)

#greater than or equal to(>=)
print(A1 >= B1)

False
True
True
False
True
False

# Define type() function with three example ?

### The type() function is a built-in function that is used to return the type of data stored in the objects or variables in the program. Two different types of arguments can be passed to type() function.

In [26]:
#example
X = 6;   #int
Y = 5.5; #float
Z = 3+1j; #complex
print(type(X))
print(type(Y))
print(type(Z))



#example1
x1 = 10;    #int
y1 = 11.23; #float
z1 = 14+8j; #complex

#convert from int to float:
print(float(x1))

#convert from int to complex:
print(complex(x1))

#convert from float to int:
print(int(y1))

#convert from float to complex:
print(complex(y1))



#example2
x2 = 189;    #int
y2 = 1111.2345; #float
z2 = 141+84j; #complex

#convert from int to float:
print(float(x2))

#convert from int to complex:
print(complex(x2))

#convert from float to int:
print(int(y2))

#convert from float to complex:
print(complex(y2))



#example3
x3 = 789;    #int
y3 = 5778.25; #float
z3 = 3546+874j; #complex

#convert from int to float:
print(float(x3))

#convert from int to complex:
print(complex(x3))

#convert from float to int:
print(int(y3))

#convert from float to complex:
print(complex(y3))

<class 'int'>
<class 'float'>
<class 'complex'>
10.0
(10+0j)
11
(11.23+0j)
189.0
(189+0j)
1111
(1111.2345+0j)
789.0
(789+0j)
5778
(5778.25+0j)

# Define Bool() function with example ?

### The bool() function returns/converts value to the corresponding boolean value i.e., True or False, using the standard truth testing procedure.

In [18]:
#example

q = bool(1)
print(q)

w = bool()
print(w)

print(bool(20.45))
print(bool())

True
False
True
False

# Precedence

## 7(2-32)23*23(32-232)/23

In [27]:
#addition
7+(2-32)+23*23+(32-232)/23

497.30434782608694

In [28]:
#multiplication
7*(2-32)*23*23*(32-232)/23

966000.0

In [29]:
#division
7/(2-32)/23*23/(32-232)/23

5.072463768115943e-05

## 78-23+23+23+12+123-232(34/54*34+4)34

In [30]:
#addition
78-23+23+23+12+123-232+(34/54*34+4)+34

63.407407407407405

In [31]:
#multiplication
78-23+23+23+12+123-232*(34/54*34+4)*34

-200177.62962962966

In [ ]:
#division